mixin image(source, text)
  img(alt=text src='/assets/' + source)

mixin css(source)
  link(rel='stylesheet' href=source)

mixin javascript(source)
  script(type="text/javascript" src=source)

doctype html
html(lang="en")
  head
    title Commuter Rails Departure Board
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description" content="MBTA Commuter Rail Exercise")
    +css('http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic')
    +css('skeleton.css')
    +javascript('dashboard.js')

    //////////////////////
    // Style
    //////////////////////
    style
      :stylus
        body
          background grey
          color white !important

          h2
            text-align center

        .board
          border-radius 5px
          border 1px solid red

          .row
            border-bottom 1px solid #fee
            padding 2px

            &.heading
              font-weight bold
            &:last-child
              border none

          .destination
            border 1px solid black
            border-radius 3px
            padding 0 1em 0 1em

        #north .board
          background salmon
          border-color red

          .heading
            background #800

        #south .board
          background #59b
          border-color blue

          .heading
            background #008

        #bottom
          text-align center
          background #444
          position fixed
          bottom 0
          width 100%
          margin 0 -10px 0 -10px

        .debug
          background black

  //////////////////////
  // Content
  //////////////////////
  body(class='document')

    section#north
      h2 North Station

      .board
        .row.heading
          .two.columns
            span Time
          .five.columns
            span Destination
          .one.columns
            span Train#
          .one.columns
            span Track#
          .three.columns
            span Status
        .content

    section#south
      h2 South Station

      .board
        .row.heading
          .two.columns
            span Time
          .five.columns
            span Destination
          .one.columns
            span Train#
          .one.columns
            span Track#
          .three.columns
            span Status
        .content

    footer#bottom
      p
        span Made with &lt;3 by&nbsp;
        a(href="//twitter.com/chzmstr") @chzmstr
        span  &nbsp;for consideration by&nbsp;
        a(href="https://www.mbta.com/") MBTA.
        span &nbsp; &copy; 2018&nbsp;
        a(href="//luchenlabs.com") Brendan Luchen
        span . All rights reserved.

      .debug
        tt#response
